# Environment variables
.env
.env.local
.env.*.local
functions/.env
functions/.env.local
functions/.env.*.local
functions/serviceAccount.development.json

# Dependencies
/node_modules
functions/node_modules/

# Build files
/build
/dist

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 